nav {
  margin-top: 30px;
  position: absolute;
    ul li {
      font-family: 'Arimo', sans-serif;
      list-style: none;
      line-height: 2;
      font-weight: 400;
      color: #666;
      font-size: 0.9em;
      .name {
        font-size: 1.2em;
      }
      a { 
        color: #666;
        text-decoration: none;
        &:hover {
          background-color: pink;
        }
      }
    }    
}

.top {
  width: 805px;
  margin: 20px 100px 0px 253px;
  background-color: black;
  color: white;
  font-family: "Open Sans";
  font-size: 27px;
  padding: 10px;
  border-radius: 15px;
}

.aqua {
  color: aqua;
  a {
    color: aqua;
    text-decoration: none; 
  }
}

.workTitle {
  font: 1.5em 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 20px;
  letter-spacing: .125em;
}

.active {
  margin-left: 353px;
  margin-top: 30px;
}


